body {
    font-family: "Times New Roman", Times, serif !important;
    color: black;
}
#example1 {
    width: 100%;
    table-layout:fixed;
    border-collapse: collapse;
    border: 1px solid black;
}
#example1 > tr > td {
    padding: 10px;
    border: 1px solid black;
}
#example1 > thead > tr > th, #example1 > tbody > tr > td, #example1 > tfoot > tr > td{
    border: 1px solid black;
    padding: 6px;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.break-all {
    word-wrap: break-word;
}
.row{
    display: flex;
}
.split-half{
    width: 50%;
}
.head-title{
    font-weight: bold;
    margin-bottom: 16px;
}
.qr-code{
    position: fixed;
    bottom: 60px;
    right: 60px;
}
.no-margin{
    margin: 0px;
}
.line-height{
    line-height: 100%
}